<div class="container">
    <h1>MACROS Calc</h1>
    <div class="row" style="display: none;">
        <h2>Usados antes</h2>
    </div>
    <div class="row">
        <h2>Base</h2>
        <div class="form-group">
            <label for="formInputNombre">Nombre</label>
            <input type="text" class="form-control" id="formInputNombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="formInputBase">Cantidad Base</label>
            <input type="text" class="form-control" id="formInputBase" placeholder="Cantidad Base">
        </div>
        <div class="form-group">
            <label for="formInputGrasa">Grasas</label>
            <input type="text" class="form-control" id="formInputGrasa" placeholder="G">
        </div>
        <div class="form-group">
            <label for="formInputCarbo">Carbohidratros</label>
            <input type="text" class="form-control" id="formInputCarbo" placeholder="C">
        </div>
        <div class="form-group">
            <label for="formInputProt">Proteínas</label>
            <input type="text" class="form-control" id="formInputProt" placeholder="P">
        </div>
    </div>
    <div class="row">
        <h2>Cálculado</h2>
        <div class="form-group">
            <label for="formInputCalcNombre">Nombre</label>
            <input type="text" class="form-control" id="formInputCalcNombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="formInputCalcCantidad">Cantidad</label>
            <div class="input-group" id="formInputCalcCantidad">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Calcular</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group">
            <label for="formInputCalcGrasa">Grasas</label>
            <input type="text" class="form-control" id="formInputCalcGrasa" placeholder="G">
        </div>
        <div class="form-group">
            <label for="formInputCalcCarbo">Carbohidratros</label>
            <input type="text" class="form-control" id="formInputCalcCarbo" placeholder="C">
        </div>
        <div class="form-group">
            <label for="formInputCalcProt">Proteínas</label>
            <input type="text" class="form-control" id="formInputCalcProt" placeholder="P">
        </div>
    </div>
    <div class="row" style="display: none;">
        <h2>Agregados</h2>
    </div>
</div>